* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #181c1f;
    color: #bdd1d4;
    margin: 2rem;
  }
  
  .list {
    color: #82c2ce;
  }
  
  .warning {
    color: #f1ac6f;
  }

  #tabs {
    max-width: 32rem;
    overflow: hidden;   
    position: fixed;
    width: 500px;
    margin: 5% auto; /* Only centers horizontally not vertically! */
    left: 0;
    right: 0;
  }
  
  #tabs menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.25rem;
  }
  
  #tabs button {
    font: inherit;
    font-size: 0.85rem;
    background-color: #282f33;
    border: none;
    border-bottom-color: #48d9f3;
    color: #e0eff1;
    border-radius: 4px 4px 0 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  #tabs button:hover,
  #tabs button.active {
    background-color: #48d9f3;
    color: #273133;
  }
  
  #tab-content {
    background-color: #2d3942;
    border-radius: 0 4px 4px 4px;
    padding: 1rem;
  }
  
  #tab-content li {
    margin: 0.75rem 0;
  }
  

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  #projects {
    display:grid;
    justify-content: space-between;

  }

  #core-concepts {
    padding: 2rem;
    border-radius: 6px;
    background-color: #140524;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }